.page-footer {
    color:white;
    li {
        font-size: smaller;
        color: gray;
    }
    .list-title {
        font-weight: bold;
        font-size: larger ;
        color: white;
    }
}


